{% load static %}

<!-- Основные -->
<meta name="description" content="Рядник - Современный менеджер задач с духом древнерусской мудрости" />
<meta name="keywords" content="Рядник" />
<meta name="robots" content="index,follow" />
<link rel="canonical" href="https://vniicentr.ru/" />

<!-- Для Фейсбука, ВКонтакте, Одноклассников и Гуглплюса -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Рядник" />
<meta property="og:title" content="Рядник" />
<meta property="og:description" content="Рядник - Современный менеджер задач с духом древнерусской мудрости" />
<meta property="og:url" content="https://vniicentr.ru/" />
<meta property="og:locale" content="ru_RU" />

<!-- Для Твиттера и Вконтакта -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Рядник" />
<meta name="twitter:description" content="Рядник - Современный менеджер задач с духом древнерусской мудрости" />
<meta name="twitter:image:src" content="{% static 'img/elements/logo.svg' %}" />
<meta name="twitter:url" content="https://vniicentr.ru/" />
<meta name="twitter:domain" content="Рядник" />
<meta name="twitter:site" content="Рядник" />
<meta name="twitter:creator" content="@vniicentr.ru" />

<!-- Для Гуглплюса -->
<meta itemprop="name" content="Рядник" />
<meta itemprop="description" content="Рядник - Современный менеджер задач с духом древнерусской мудрости" />
<meta itemprop="image" content="{% static 'img/elements/Logo.svg' %}" />
