// Переопределение переменных
$font-stack: Roboto, sans-serif;
$delay: 0.5s;
$header_height: 70px;
$feedback-height: 30rem;

$modal-width: 50%;

$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

$text-big-size: 8rem;

$primary: #1b6fc6;
$secondary: #60687a;
$success: #0fa764;
$danger: #FC2925;
$warning: #f47a55;
$info: #1B6FC6;
$light: #FFFFFF;
$dark: #040614;
$link: $info;

$tooltip-color: $dark;
$tooltip-bg: $secondary;
$tooltip-opacity: 1;

$brand_size: $header_height * 0.9;
$avatar_tag_size: 50px;

$hero-section-size: 100vh;
$hero-size: 200px;