{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero__body">
    <div class="container placeholder__block"></div>
    <div class="container p-0">
      <div class="row mx-auto px-0">
        <div class="col-12 col-xl-6 order-1 order-xl-1 d-flex flex-column justify-content-end text-center text-xl-start pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <h1 class="mb-5 mb-md-3">Рядник</h1>
          <h2 class="mb-2">Система урядная для управления делами</h2>
          <h6 class="mb-3 text-light">Современный менеджер задач с духом древнерусской мудрости</h6>
        </div>
        <div class="col-12 col-xl-6 order-2 order-xl-2 text-center text-xl-end mb-5 mb-xl-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="d-flex justify-content-center justify-content-xl-center align-content-center h-100 row p-3">
            <div class="col-12 col-md-4 p-3">
              <button class="card bg-warning w-100 shadow-sm">
                <a href="#" class="text-decoration-none w-100">
                  <div class="card-body w-100 align-content-center">
                    <h5 class="text-light text-center m-0">Добавить дело</h5>
                  </div>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ======= Statistics block ======= -->
    {% comment %} {% include 'home/components/statistics.html' %} {% endcomment %}
    <!-- ==== End of Statistics block === -->
    <div class="container placeholder__block"></div>
  </div>
</section>
<!-- ===== End of Hero Section ===== -->
